extends includes/layout
include includes/mixin
block content
  article.entry
    .entry-content
      // blog
      // recent News
      .bg-white-smoke
        .pt-lg-8.pt-md-8.pt-6
          .container
            div.pb-lg-2
              h1.mb-lg-5.mb-md-5.mb-4 Blog
            +blog(
              'card-post-style',
              'col-lg-4',
              false,
              {
              image:'assets/images/blog/b1.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'New tunnel stretching all the way from Long Island to  Plane Land ',  
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              },
              {
              image:'assets/images/blog/b2.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'We supply the steels for onshore and offshore platforms',
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              },
              {
              image:'assets/images/blog/b3.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'10 small but important things to observe In thesteel production.',
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              },
              {
              image:'assets/images/blog/b4.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'New tunnel stretching all the way from Long Island to  Plane Land ',  
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              },
              {
              image:'assets/images/blog/b5.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'We supply the steels for onshore and offshore platforms',
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              },
              {
              image:'assets/images/blog/b6.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'10 small but important things to observe In thesteel production.',
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              },
              {
              image:'assets/images/blog/b7.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'New tunnel stretching all the way from Long Island to  Plane Land ',  
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              },
              {
              image:'assets/images/blog/b8.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'We supply the steels for onshore and offshore platforms',
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              },
              {
              image:'assets/images/blog/b9.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'10 small but important things to observe In thesteel production.',
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              }
            )
        .container.pb-lg-8.pb-md-8.pb-6.pt-6
          .text-center
            a.btn.btn-black-pearl(href="page-portfolio-list.html") View more