extends includes/layout
include includes/mixin

block content
    article.entry
    .entry-content
      //- Page title
      .bg-black-pearl
        .py-lg-8.py-md-8.py-7.mb-lg-7.mb-md-5.mb-5
          .container
            .row
              .col-lg-6
                div.mt-lg-n2
                  h1.mb-4.text-white Countdown
                  p.lead-1.text-silver.mt-n1.mb-0 Aecenas metus lacus, viverra vitae urna a, facilisis faucibus leo. Sed sagittis ipsum id lacus pharetra accumsan placerat. Nunc facilisis fringilla maximus sagittis.
      .container
        .row.large-gutters
          .col-lg-3.mb-7
            //- Elements nav
            include includes/elements-nav
          .col-lg-9.mb-7
            #getting-started.countdown.mb-4
            .col-6
              p
                | Donec ullamcorper non tellus eget auctor. Donec vulputate libero non tellus consectetur
                | fringilla.
                | Nam ultrices semper turpis ac tincidunt. Sed vel mauris id tellus.