extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      // head title
      .container-fluid.px-0.home-bg.bg-black-pearl
        .py-lg-9.py-md-7.py-6
          .container
            .row.gx-lg-5
              .col-lg-6.d-lg-none
                img(src="assets/images/home/h15.jpg" alt="homr image")
              .col-lg-6.my-lg-3.mt-md-5.mt-5
                h5.text-school-yellow We are
                div.pr-lg-6.pr-md-8.pr-4
                  h1.text-white.mb-4 Inventing The Best Steels For A Better World
                  p.lead.text-silver.mb-4 Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                .row.gx-lg-0.pt-3.mb-lg-3
                  .col-lg-4.col-md-4.col-12
                    a.btn.btn-outline-white(href="page-about-us.html") Read more
                  .col-lg-4.col-md-4.col-12.mt-lg-0.mt-md-0.mt-4
                    .ml-n28
                      a.btn.btn-school-yellow(href="page-contact.html") Contact us

      // logos
      .container.my-lg-7.my-md-7.my-6
        .row.gx-lg-5
          .col-lg-2.col-md-4.col-6.text-center
            img(src="assets/images/logo/1.png" alt="logo1")
          .col-lg-2.col-md-4.col-6.text-center
            img(src="assets/images/logo/2.png" alt="logo2")
          .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-0.mt-5
            img(src="assets/images/logo/3.png" alt="logo3")
          .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-5.mt-5
            img(src="assets/images/logo/4.png" alt="logo4")
          .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-5.mt-5
            img(src="assets/images/logo/5.png" alt="logo5")
          .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-5.mt-5
            img(src="assets/images/logo/6.png" alt="logo6")

      // About us
      .bg-white-smoke
        .pt-lg-8.pb-lg-9.pt-md-7.pb-md-8.pt-6.pb-7
          .container.mt-2
            .row.gx-lg-5
              .col-lg-7
                h5.text-dim-gray About us
                h1 Becoming the Best Steelmaker with World-Leading Potential
          .container.mt-5
            .row.gx-lg-5
              .col-lg-4
                a(href="page-services.html")
                  img(src="assets/images/home/h2.jpg" alt="home2")
                .bg-white.px-4.py-4
                  div.px-2.py-3
                    a(href="page-services.html")
                      h4.mb-3.hover-color Automotive and mobility
                    p.text-dim-gray.mb-4 Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.
                    .text-right.pt-2
                      a(href="page-services.html")
                        i.h5.fas.fa-arrow-right.hover
              .col-lg-4.mt-lg-0.mt-5
                a(href="page-services.html")
                  img(src="assets/images/home/h3.jpg" alt="home3")
                .bg-white.px-4.py-4
                  div.px-2.py-3
                    a(href="page-services.html")
                      h4.mb-3.hover-color Structural Steel Supplies
                    p.text-dim-gray.mb-4 Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.
                    .text-right.pt-2
                      a(href="page-services.html")
                        i.h5.fas.fa-arrow-right.hover
              .col-lg-4.mt-lg-0.mt-5
                a(href="page-services.html")
                  img(src="assets/images/home/h4.jpg" alt="home4")
                .bg-white.px-4.py-4
                  div.px-2.py-3
                    a(href="page-services.html")
                      h4.mb-3.hover-color The raw materials mining
                    p.text-dim-gray.mb-4 Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.
                    .text-right.pt-2
                      a(href="page-services.html")
                        i.h5.fas.fa-arrow-right.hover

      // second bg section
      .container-fluid.px-0.home-bg-1.bg-black-pearl
        .py-lg-9.py-md-8.pt-0.pb-6
          .container
            .row.gx-lg-5
              .col-lg-6.home-bg-11.order-lg-1
                .pt-lg-4.pt-md-8.pt-7 
                  .pl-lg-0.pl-md-10.pl-4
                    div.ml-lg-0.ml-md-7.ml-2
                      h2.h1.font-fifty.text-lg-right.mb-3 $443 Billion
                  div.pl-lg-10.pr-lg-0.pl-md-9.pr-md-9.pl-0
                    .ml-lg-10.ml-md-8
                      .pl-2
                        p.lead-1.text-white Creating 97 million tons of steel.
                        p.lead-1.text-white Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              
              .col-lg-6.my-lg-n1.mt-md-5.mt-5
                h5.text-school-yellow Our goals
                div.pr-lg-6.pr-md-7.pr-2
                  h2.text-white.mb-4 Our not-so-secret plan: Create a world without waste
                  p.text-silver.mb-4 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.
                  .pt-3
                    a.btn.btn-school-yellow.mb-lg-3(href="page-about-us.html") Learn more

      // tab section
      .bg-white-smoke
        .pt-lg-8.pb-lg-5.pt-md-8.pb-md-5.pt-7.pb-5
          .container
            .row
              .col-lg-8.offset-lg-2
                .text-center.mx-lg-0.mx-md-0.mx-3
                  h2.mb-4 Advancing products, processes and solutions
                  p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.

        .container.pb-lg-7
          .row.gx-lg-5
            .col-lg-6
              img(src="assets/images/home/h06.jpg" alt="home6").height-px-420.object-fit-cover.w-100
            .col-lg-6.mt-lg-0.mt-md-5.mt-5  
              nav.pr-lg-5
                #nav-tab.nav.nav-tabs(role="tablist")
                  a#nav-Stratigy-tab.h6.nav-link.active.mr-md-6.mr-3(data-toggle="tab" href="#nav-Stratigy" role="tab" aria-controls="nav-Stratigy" aria-selected="true") Stratigy
                  a#nav-Organization-tab.h6.nav-link.mr-md-6.mr-3(data-toggle="tab" href="#nav-Organization" role="tab" aria-controls="nav-Organization" aria-selected="false") Organization
                  a#nav-Development-tab.h6.nav-link.mr-md-6.mr-3(data-toggle="tab" href="#nav-Development" role="tab" aria-controls="nav-Development" aria-selected="false") Development
                  a#nav-Delivery-tab.h6.nav-link(data-toggle="tab" href="#nav-Delivery" role="tab" aria-controls="nav-Delivery" aria-selected="false") Delivery
                #nav-tabContent.tab-content.mt-3
                  #nav-Stratigy.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-Stratigy-tab")
                    .pt-lg-4.pt-3
                      p.lead.text-black-pearl.font-medium Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                      p Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.  sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.

                  #nav-Organization.tab-pane.fade(role="tabpanel" aria-labelledby="nav-Organization-tab")
                    .pt-lg-4.pt-3
                      p.lead.text-black-pearl.font-medium It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsumg 
                      p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.

                  #nav-Development.tab-pane.fade(role="tabpanel" aria-labelledby="nav-Development-tab")
                    .pt-lg-4.pt-3
                      p.lead.text-black-pearl.font-medium There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, 
                      p Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.  sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.

                  #nav-Delivery.tab-pane.fade(role="tabpanel" aria-labelledby="nav-Delivery-tab")
                    .pt-lg-4.pt-3
                      p.lead.text-black-pearl.font-medium Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,
                      p discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,

        .container.pb-lg-9.pb-md-8.pb-7
          .row.gx-lg-5
            .col-lg-6.order-lg-1.mt-lg-0.mt-md-5.mt-5
              img(src="assets/images/home/h7.jpg" alt="home7").height-px-542.object-fit-cover.w-100
            .col-lg-6.mt-lg-0.mt-md-5.mt-5
              div.pr-lg-6
                p.lead.text-black-pearl.font-weight-bold Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                p.pb-4 Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              .row.gx-lg-5.gx-md-5.mt-lg-4.mt-md-5.mt-5
                .col-lg-6.col-md-6.col-12
                  .bg-white.px-4.py-4
                    div.px-2.py-2
                      i.mb-4.h1.display-4.fas.fa-chart-area.text-black-pearl
                      h4.mb-3 Managment
                      p.text-dim-gray.mb-0 Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum stet clita kasd.
                .col-lg-6.col-md-6.col-12.mt-lg-0.mt-md-0.mt-5
                  .bg-white.px-4.py-4
                    div.px-2.py-2
                      i.mb-4.h1.display-4.fas.fa-charging-station.text-black-pearl
                      h4.mb-3 Digital economy
                      p.text-dim-gray.mb-0 Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum stet clita kasd.
          

      // case study  
      .container.mt-lg-8.mt-md-8.mt-6.mb-5
        .row
          .col-lg-6
            h2.h1.mb-4 Case Studies
            div.pr-lg-6
              p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.
      .container.mb-lg-7.mb-md-6.mb-5
        .row.gx-lg-5
          .col-lg-4
            a(href="page-portfolio-list.html")
              img(src="assets/images/home/test11.jpg" alt="home12")
            .bg-white-smoke
              .px-4.py-4
                div.px-3.py-4
                  h6.text-dark-gray.mb-3 CONSTRACTION
                  a(href="page-portfolio-list.html")
                    h4 Noor ul Jani Steel and Sanat leaders discuss how they joined forces to make the world's first learning steelworks using AI Artificial Intelligence
                  .text-right.pt-2
                    a(href="page-portfolio-list.html")
                      i.h5.fas.fa-arrow-right.hover
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            a(href="page-portfolio-list.html")
              img(src="assets/images/home/test22.jpg" alt="home9")
            .bg-white-smoke
              .px-4.py-4
                div.px-3.py-4
                  h6.text-dark-gray.mb-3 CONSTRACTION
                  a(href="page-portfolio-list.html")
                    h4 Installing 500+ industrial processing plant for helping owners and executives of construction companies enhance performance
                  .text-right.pt-2
                    a(href="page-portfolio-list.html")
                      i.h5.fas.fa-arrow-right.hover
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            a(href="page-portfolio-list.html")
              img(src="assets/images/home/test33.jpg" alt="home10")
            .bg-white-smoke
              .px-4.py-4
                div.px-3.py-4
                  h6.text-dark-gray.mb-3 RESEARCH
                  a(href="page-portfolio-list.html")
                    h4 Partnering with the world's pioneering organizations to discuss the longer term of steel and its role during a changing world
                  .text-right.pt-2
                    a(href="page-portfolio-list.html")
                      i.h5.fas.fa-arrow-right.hover

      .container.mb-lg-9.mb-md-8.mb-7
        .text-center
          a.btn.btn-black-pearl(href="page-portfolio-list.html") View all projects

      // valueable world
      .bg-black-pearl
        .py-lg-9.pt-md-7.pb-md-8.pt-6.pb-7
          .container
            .row 
              .col-lg-5.my-auto
                div.pr-lg-6.pr-md-7.pr-0  
                  h2.h1.text-white.mb-4 Valuable words from our customers
                  p.text-silver.mb-4 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.
                  .pt-3
                    a.btn.btn-school-yellow(href="page-testimonials.html") Learn more
              .col-lg-7.mt-lg-0.mt-md-5.mt-5
                .bg-white.mr-lg-8
                  .px-4.py-4
                    div.px-2.py-3
                      .row.gx-lg-5
                        .col-9
                          p.text-dim-gray Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.
                          h6.mb-1 Michael Wilson - CEO of Tozee
                        .col-3
                          img.rounded-circle(src="assets/images/home/h11.jpg" alt="home11")

                .bg-white.ml-lg-8.mt-5
                  .px-4.py-4
                    div.px-2.py-3
                      .row.gx-lg-5
                        .col-9
                          p.text-dim-gray Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.
                          h6.mb-1 Patricia Bogle - CEO of Manan
                        .col-3
                          img.rounded-circle(src="assets/images/home/h13.jpg" alt="home13")

                .bg-white.mr-lg-8.mt-5
                  .px-4.py-4
                    div.px-2.py-3
                      .row.gx-lg-5
                        .col-9
                          p.text-dim-gray Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.
                          h6.mb-1 Joseph Hyde - CEO of Moiz
                        .col-3
                          img.rounded-circle(src="assets/images/home/h14.jpg" alt="home14")

      // Now for Tomorrow
      .bg-white-smoke
        .py-lg-8.py-md-8.py-7
          .container
            .row.gx-lg-5
              .col-lg-6.mb-lg-0.mb-md-5.mb-5
                .container.p-0
                  .row.gx-lg-5
                    .col-lg-6
                      .bg-black-pearl
                        .px-4.py-4
                          div.px-2.py-4
                            h2.text-school-yellow.mb-4 532 Offices 
                            p.lead-1.mt-n1.text-white Across 56 territories and 26k global workfor
                            p.text-dark-gray.mb-1 Dolores et ea rebum vero eos et accusam et justo duo dolores at ea rebum. labore vero  dolore magna aliquyam erat
                      .bg-white.mt-5
                        .px-4.py-4
                          div.px-2.py-4
                            h2.mb-4 29 Trillion Pounds
                            p.text-black-pearl.lead-1.mt-n1 Nonumy eirmod tempor invidunt veroe labore
                            p.text-dim-gray.mb-1 Dolores et ea rebum vero eos et accusam et justo duo dolores at ea rebum. labore vero  dolore magna aliquyam erat

                    .col-lg-6
                      .bg-white.mt-5
                        .px-4.py-4
                          div.px-2.py-4
                            h2.mb-4 42 Billion Per Year 
                            p.text-black-pearl.lead-1.mt-n1 Takimata sanctus eirmod tempor invidunt
                            p.text-dim-gray.mb-1 Dolores et ea rebum vero eos et accusam et justo duo dolores at ea rebum. labore vero  dolore magna aliquyam erat
                      .bg-school-yellow.mt-5
                        .px-4.py-4
                          div.px-2.py-4
                            h2.mb-4 96% Industrial 
                            p.text-black-pearl.lead-1.mt-n1 Across 56 territories and 26k global workforce
                            p.text-dim-gray.mb-1 Dolores et ea rebum vero eos et accusam et justo duo dolores at ea rebum. labore vero  dolore magna aliquyam erat

              .col-lg-6.my-auto.pl-lg-6
                .ml-n1
                  h2.h1.mb-0 Now, for 
                  h2.h1.mt-n1.mb-4 Tomorrow
                  div.pr-lg-6
                    p.lead.text-black-pearl.mb-4 Dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                  p.text-dim-gray Siam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  dolores et ea rebum vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.  sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.
                  div.pt-3
                    a.btn.btn-black-pearl(href="page-about-us.html") Learn more

      // team 
      .bg-black-pearl
        .py-lg-9.py-md-8.py-7
          .container.mt-lg-4
            .row.gx-lg-5
              .col-lg-6
                h2.h1.text-white.mb-0.mt-n1 Our team 
                h2.h1.text-white.mt-n1.mb-4 Memebers
                div.pr-lg-10
                  p.text-silver.mr-3 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.
                .row.gx-lg-5.pt-lg-7.pt-md-5.pt-5
                  .col-lg-6.offset-lg-6
                    a(href="page-agents.html")
                      img(src="assets/images/team/teams1.jpg" alt="team image")
                    .bg-white
                      .px-4.py-4
                        div.px-2.py-3
                          a(href="page-agents.html")
                            h5 Daniel Nichol
                          p.text-dim-gray Managing Partner
                          div.pt-1
                            ul.list-unstyled.list-inlinetrue.mb-0
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-facebook
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-twitter
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-youtube
              .col-lg-6
                .row.gx-lg-5
                  .col-lg-6.mt-lg-10.mt-md-5.mt-5
                    a(href="page-agents.html")
                      img(src="assets/images/team/teams2.jpg" alt="team image")
                    .bg-white
                      .px-4.py-4
                        div.px-2.py-3
                          a(href="page-agents.html")
                            h5 Jonathan 
                          p.text-dim-gray Firm Director
                          div.pt-1
                            ul.list-unstyled.list-inlinetrue.mb-0
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-facebook
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-twitter
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-youtube

                    .mt-5
                      a(href="page-agents.html")
                        img(src="assets/images/team/teams4.jpg" alt="team image")
                      .bg-white
                        .px-4.py-4
                          div.px-2.py-3
                            a(href="page-agents.html")
                              h5 Patricia Bogle
                            p.text-dim-gray Chief Operating Officer
                            div.pt-1
                              ul.list-unstyled.list-inlinetrue.mb-0
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-facebook
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-twitter
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-youtube

                  .col-lg-6.mt-lg-0.mt-md-5.mt-5
                    a(href="page-agents.html")
                      img(src="assets/images/team/teams3.jpg" alt="team image")
                    .bg-white
                      .px-4.py-4
                        div.px-2.py-3
                          a(href="page-agents.html")
                            h5 Gerry Heller
                          p.text-dim-gray Managing Director
                          div.pt-1
                            ul.list-unstyled.list-inlinetrue.mb-0
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-facebook
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-twitter
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-youtube

                    .mt-5
                      a(href="page-agents.html")
                        img(src="assets/images/team/teams5.jpg" alt="team image")
                      .bg-white
                        .px-4.py-4
                          div.px-2.py-3
                            a(href="page-agents.html")
                              h5 Joseph Hyde
                            p.text-dim-gray Tax Partner
                            div.pt-1
                              ul.list-unstyled.list-inlinetrue.mb-0
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-facebook
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-twitter
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-youtube

      // recent News
      .bg-white-smoke
        .py-lg-8.py-md-7.py-6
          .container
            h2.h1.mb-lg-6.mb-md-5.mb-4 Recent News
            +blog(
              'card-post-style',
              'col-lg-4 mb-lg-0 mb-4',
              false,
              {
              image:'assets/images/blog/b1.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'New tunnel stretching all the way from Long Island to  Plane Land ',  
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              },
              {
              image:'assets/images/blog/b2.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'We supply the steels for onshore and offshore platforms',
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              },
              {
              image:'assets/images/blog/b3.jpg',
              category:'Recource',
              date:'January 20, 2021',
              title:'10 small but important things to observe In thesteel production.',
              content:'Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.'
              }
            )
            div.pt-lg-7.pt-5.mb-4
              .text-center
                a.btn.btn-black-pearl(href="blog.html") View all news