extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // head
      .bg-black-pearl
        .py-lg-8.py-md-8.py-7
          .container
            .row
              .col-lg-6
                div.mt-lg-n2  
                  h1.mb-4.text-white Certified Partners
                  p.lead-1.text-silver.mt-n1.mb-0 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 

      // partners
      .container.my-lg-8.my-md-8.my-6
        .row.gx-lg-5
          .col-lg-4
            .bg-white-smoke 
              .py-lg-6.py-md-6.py-5.px-4
                div.mx-1.my-lg-n1
                  .text-center
                    div.pb-4
                      img.mb-3(src="assets/images/partner/p1.png" alt="partner 1")
                    h3.mb-4 Supply Partner
                    div.pt-1.pb-2
                      p.mb-lg-3.mb-md-0.mb-0 Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            .bg-white-smoke 
              .py-lg-6.py-md-6.py-5.px-4
                div.mx-1.my-lg-n1
                  .text-center
                    div.pb-4
                      img.mb-3(src="assets/images/partner/p2.png" alt="partner 2")
                    h3.mb-4 Payment Partner
                    div.pt-1.pb-2
                      p.mb-lg-3.mb-md-0.mb-0 Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            .bg-white-smoke 
              .py-lg-6.py-md-6.py-5.px-4
                div.mx-1.my-lg-n1
                  .text-center
                    div.pb-4
                      img.mb-3(src="assets/images/partner/p3.png" alt="partner 3")
                    h3.mb-4 Construction Partner
                    div.pt-1.pb-2
                      p.mb-lg-3.mb-md-0.mb-0 Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.

        .row.gx-lg-5.mt-5
          .col-lg-4
            .bg-white-smoke 
              .py-lg-6.py-md-6.py-5.px-4
                div.mx-1.my-lg-n1
                  .text-center
                    div.pb-4
                      img.mb-3(src="assets/images/partner/p4.png" alt="partner 4")
                    h3.mb-4 Bank Partner
                    div.pt-1.pb-2
                      p.mb-lg-3.mb-md-0.mb-0 Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            .bg-white-smoke 
              .py-lg-6.py-md-6.py-5.px-4
                div.mx-1.my-lg-n1
                  .text-center
                    div.pb-4
                      img.mb-3(src="assets/images/partner/p5.png" alt="partner 5")
                    h3.mb-4 Investment Partner
                    div.pt-1.pb-2
                      p.mb-lg-3.mb-md-0.mb-0 Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            .bg-white-smoke 
              .py-lg-6.py-md-6.py-5.px-4
                div.mx-1.my-lg-n1
                  .text-center
                    div.pb-4
                      img.mb-3(src="assets/images/partner/p6.png" alt="partner 6")
                    h3.mb-4 Development Partner
                    div.pt-1.pb-2
                      p.mb-lg-3.mb-md-0.mb-0 Aptent taciti sociosqu ad litora torquent per con ubia nos inceptos himenaeos. Pellentesque eget scelerisque turpis et consequat enim uisque at.
                       