extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // Hero
      .bg-black-pearl
        .py-lg-8.py-md-8.py-7
          .container
            .row
              .col-lg-6
                div.mt-lg-n2  
                  h1.mb-4.text-white Call To Action
                  p.lead-1.text-silver.mt-n1.mb-0 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 

      .bg-white-smoke
        .py-lg-8.px-lg-8.py-5.px-5
          .container  
            .row.gx-lg-5.mb-lg-2
              .col-lg-6
                div.ml-lg-7.mr-lg-4
                  h2 Let’s work & build something great together.
                  .mt-lg-4.mt-4
                    a.btn.btn-black-pearl(href='page-contact.html') Contact Us
              .col-lg-6
                .lead-1.mt-5.mt-lg-0 
                  p.text-dim-gray Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore dolore magna aliquyam erat, sed diam sed diam nonumy. At vero eos et accusam et justo duo dolores et aliquyam erat, sed diam voluptua sed diam nonumy.

      .py-lg-8.py-5.px-4
        .container
          .row
            .col-lg-8.offset-lg-2.text-center
              h2 Let’s build something great together.
              .mt-lg-3.mt-3  
                p Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et aliquyam, diam voluptua sed diam nonumy erat, sed diam voluptua sed diam nonumy.
              .mt-lg-4.mt-4
                a.btn.btn-black-pearl(href='page-contact.html') Contact Us  