extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      .bg-black-pearl
        .container
          .py-lg-8.py-md-8.py-7
            .row
              .col-lg-6
                h1.mb-4.text-white Testimonials
                p.lead-1.text-silver.mt-n1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
        
      //head picture
      .seventy-percent-bg-black-pearl
        .container.pb-lg-6.pb-md-7.pb-5
          .row.gx-lg-0
            .col-lg-5.order-lg-1
              img(src="assets/images/testimonials/t1.jpg" alt="testimonials1").height-px-600.w-100.object-fit-cover
            .col-lg-7
              .bg-white
                .px-lg-7.py-lg-10.px-md-5.py-md-7.px-5.py-6
                  .row.gx-lg-0.my-3
                    .col-lg-2
                      i.fas.fa-quote-left.text-dark-gray.custom-icon
                    .col-lg-10
                      .ml-n1
                        h4.custom-line-height.mb-3 Tempus lphasellus ornare at metus nec tristique. Integer non facilisis lacus, at tristique purus. Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet. 
                        p.text-dim-gray.font-italic.mb-0 Michael D. Wilson - CEO of Tozee

      .bg-white-smoke
        .container.pt-lg-0.pb-lg-9.py-md-7.py-5
          .row.gx-lg-0
            .col-lg-5
              img(src="assets/images/testimonials/t2.jpg" alt="testimonials2").height-px-600.w-100.object-fit-cover
            .col-lg-7
              .bg-white
                .px-lg-7.py-lg-10.px-md-5.py-md-7.px-5.py-6
                  .row.gx-lg-0.my-3
                    .col-lg-2
                      i.fas.fa-quote-left.text-dark-gray.custom-icon
                    .col-lg-10
                      .ml-n1
                        h4.custom-line-height Tempus lphasellus ornare at metus nec tristique. Integer non facilisis lacus, at tristique purus. Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet. 
                        p.text-dim-gray.font-italic.mb-0 Michael D. Wilson - CEO of Manan

      // card image
      .my-lg-9.my-md-7.my-5
        .container
          .row.gx-lg-5 
            .col-lg-6
              .bg-white-smoke
                .px-4.py-4
                  div.px-2.py-3
                    .row.gx-lg-5
                      .col-9
                        p.text-dim-gray Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.
                        h6.mb-1 Maria James - CEO of Sada
                      .col-3
                        img.rounded-circle(src="assets/images/home/h14.jpg" alt="home11")

              .bg-white-smoke.mt-5
                .px-4.py-4
                  div.px-2.py-3
                    .row.gx-lg-5
                      .col-9
                        p.text-dim-gray Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.
                        h6.mb-1 Michael Wilson - CEO of Tozee
                      .col-3
                        img.rounded-circle(src="assets/images/Testimonials/t4.jpg" alt="home13")

              .bg-white-smoke.mt-5
                .px-4.py-4
                  div.px-2.py-3
                    .row.gx-lg-5
                      .col-9
                        p.text-dim-gray Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.
                        h6.mb-1 Patricia Bogle - Manager of Moiz
                      .col-3
                        img.rounded-circle(src="assets/images/home/h13.jpg" alt="home14")
            .col-lg-6.mt-5
              .bg-white-smoke
                .px-4.py-4
                  div.px-2.py-3
                    .row.gx-lg-5
                      .col-9
                        p.text-dim-gray Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.
                        h6.mb-1 Patricia Bogle - Manager - CEO of Manan
                      .col-3
                        img.rounded-circle(src="assets/images/home/h11.jpg" alt="home11")

              .bg-white-smoke.mt-5
                .px-4.py-4
                  div.px-2.py-3
                    .row.gx-lg-5
                      .col-9
                        p.text-dim-gray Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.
                        h6.mb-1 Daniel Nichol - Partner of Sanat
                      .col-3
                        img.rounded-circle(src="assets/images/Testimonials/t5.jpg" alt="home13")

              .bg-white-smoke.mt-5
                .px-4.py-4
                  div.px-2.py-3
                    .row.gx-lg-5
                      .col-9
                        p.text-dim-gray Cras erosed nisl, imperdiet in nisl rhoncus, lobortis igula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim laoreet.
                        h6.mb-1 Gerry Heller - CEO of Sarmaya
                      .col-3
                        img.rounded-circle(src="assets/images/Testimonials/t3.jpg" alt="home14")
                        