extends includes/layout
include includes/mixin

block content

  article.entry
    .entry-content
      // how we can help you
      .bg-white-smoke
        .pt-lg-8.pb-lg-9.pt-md-7.pb-md-8.pt-6.pb-7
          .container.mt-2
            .row.gx-lg-5
              .col-lg-6
                h5.text-dim-gray Solution
                h1.pb-lg-4 Advancing products, processes and solutions
          .container.mt-5
            .row.gx-lg-5
              .col-lg-4
                a(href="page-single-service.html")
                  img(src="assets/images/home/h2.jpg" alt="home2")
                .bg-white
                  .px-4.py-4
                    div.px-2.py-3
                      a(href="page-single-service.html")
                        h4.mb-3.hover-color Automotive and mobility
                      p.text-dim-gray.mb-4 Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.
                      .text-right.pt-2
                        a(href="page-single-service.html")
                          i.h5.fas.fa-arrow-right.hover
              .col-lg-4.mt-lg-0.mt-5
                a(href="page-single-service.html")
                  img(src="assets/images/home/h3.jpg" alt="home3")
                .bg-white
                  .px-4.py-4
                    div.px-2.py-3
                      a(href="page-single-service.html")
                        h4.mb-3.hover-color Structural Steel Supplies
                      p.text-dim-gray.mb-4 Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.
                      .text-right.pt-2
                        a(href="page-single-service.html")
                          i.h5.fas.fa-arrow-right.hover
              .col-lg-4.mt-lg-0.mt-5
                a(href="page-single-service.html")
                  img(src="assets/images/home/h4.jpg" alt="home4")
                .bg-white
                  .px-4.py-4
                    div.px-2.py-3
                      a(href="page-single-service.html")
                        h4.mb-3.hover-color The raw materials mining
                      p.text-dim-gray.mb-4 Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.
                      .text-right.pt-2
                        a(href="page-single-service.html")
                          i.h5.fas.fa-arrow-right.hover

            .row.gx-lg-5.mt-5  
              .col-lg-4
                a(href="page-single-service.html")
                  img(src="assets/images/home/h2.jpg" alt="home2")
                .bg-white
                  .px-4.py-4
                    div.px-2.py-3
                      a(href="page-single-service.html")
                        h4.mb-3.hover-color Energy
                      p.text-dim-gray.mb-4 Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.
                      .text-right.pt-2
                        a(href="page-single-service.html")
                          i.h5.fas.fa-arrow-right.hover
              .col-lg-4.mt-lg-0.mt-5
                a(href="page-single-service.html")
                  img(src="assets/images/home/h3.jpg" alt="home3")
                .bg-white
                  .px-4.py-4
                    div.px-2.py-3
                      a(href="page-single-service.html")
                        h4.mb-3.hover-color Applince
                      p.text-dim-gray.mb-4 Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.
                      .text-right.pt-2
                        a(href="page-single-service.html")
                          i.h5.fas.fa-arrow-right.hover
              .col-lg-4.mt-lg-0.mt-5
                a(href="page-single-service.html")
                  img(src="assets/images/home/h4.jpg" alt="home4")
                .bg-white
                  .px-4.py-4
                    div.px-2.py-3
                      a(href="page-single-service.html")
                        h4.mb-3.hover-color Transport
                      p.text-dim-gray.mb-4 Cras erosed nisl, imperdiet in nisl rhoncus, lobortis tempus ligula. Duis elementum laoreet congue. In scelerisque metused interdum eros dignissim nisl laoreet.
                      .text-right.pt-2
                        a(href="page-single-service.html")
                          i.h5.fas.fa-arrow-right.hover

      // our values
      .container-fluid.px-0.service-1
        .container.mt-lg-0.mt-md-8.mt-6
          .row
            .col-lg-6
              .col-12.d-lg-none
                img(src="assets/images/services/service1.jpg" alt="service-1")
            .col-lg-6.my-lg-7.mb-md-8.mt-md-5.mb-6.mb-5
              div.pl-lg-6.ml-lg-n2
                h1.mb-3 Our values
                p.text-dim-gray.mb-5 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit, dolore magna aliquyam consetetur sadipscing.
                h5.mb-3 Collaborative 
                p.text-dim-gray.mb-5 Consetetur dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusamjusto duo et.
                h5.mb-3 Trusted  
                p.text-dim-gray.mb-5 Consetetur dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusamjusto duo et.
                h5.mb-3 Focused  
                p.text-dim-gray.mb-0 Consetetur dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusamjusto duo et.