extends includes/layout
include includes/mixin

block content

  article.entry
    .entry-content
      //Main heasing
      .bg-white-smoke
        .pt-lg-9.pb-lg-7.pt-md-7.pb-md-7.pt-6.pb-6  
          .container 
            .row.gx-lg-5
              .col-lg-7.mt-lg-6 
                div.pr-lg-7
                  h5.text-school-yellow About Us
                  h1.mb-4 Becoming the Best Steelmaker with World-Leading Potential
                  p.text-dim-gray.lead-1 Vestibulum ultrices sagittis ipsum, sed facilisis augue porta id. Donec at risus vitae mauris venenatis pellentesque in eu mauris. Integer egestas justo leo, sit amet efficitur felis consectetur et. Sed aliquet lacus at ligula commodo maximus.
                .container.p-0
                  .row.gx-lg-5
                    .col-lg-5.pt-lg-10.pt-md-5.pt-4
                      .mt-lg-9
                        .pt-3
                          img(src="assets/images/about-us/about2.jpg" alt="about-us 2")
                    .col-lg-7.mt-5.pt-1
                      img(src="assets/images/about-us/about1.jpg" alt="about-us 1")
              .col-lg-5.mt-lg-2.mt-md-5.mt-5
                img(src="assets/images/about-us/about3.jpg" alt="about-us 3")
                .mt-5
                  img(src="assets/images/about-us/about4.jpg" alt="about-us 4")

      //icon section
      .bg-black-pearl
        .py-lg-9.py-md-7.py-6
          .container
            .row.gx-lg-5
              .col-lg-5.my-auto
                h5.text-school-yellow Our goals
                h2.h1.text-white.mb-4 Our not-so-secret plan: Create a world without waste
                p.text-silver.mb-5 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.
                a.btn.btn-school-yellow(href="page-service-box.html") Learn more
              .col-lg-7
                .bg-white.mr-lg-8.mt-lg-0.mt-5
                  .px-4.py-4
                    div.px-2.py-3
                      .row
                        .col-lg-2.col-md-2.col-4
                          .border.rounded-circle.border-black-pearl
                            div.px-lg-3.py-lg-3.px-md-4.py-md-3.px-4.py-3
                              i.h3.fas.fa-city.text-center.mb-0
                        .col-lg-10.col-md-10.col-8
                          div.pr-lg-5
                            p.text-dim-gray.mb-lg-0 Fusce tincidunt, urna sit amet molestie imperdiet, dui velit vulputate justo, nec blandit risus ipsum a ex. Mauris gravida tempor volutpat accumsan hendrerit.

                .bg-white.ml-lg-8.mt-5
                  .px-4.py-4
                    div.px-2.py-3
                      .row
                        .col-lg-2.col-md-2.col-4
                          .border.rounded-circle.border-black-pearl
                            div.px-lg-3.py-lg-3.px-md-4.py-md-3.px-4.py-3
                              i.h3.fas.fa-cogs.text-center.mb-0
                        .col-lg-10.col-md-10.col-8
                          div.pr-lg-5
                            p.text-dim-gray.mb-lg-0 Fusce tincidunt, urna sit amet molestie imperdiet, dui velit vulputate justo, nec blandit risus ipsum a ex. Mauris gravida tempor volutpat accumsan hendrerit.

                .bg-white.mr-lg-8.mt-5
                  .px-4.py-4
                    div.px-2.py-3
                      .row
                        .col-lg-2.col-md-2.col-4
                          .border.rounded-circle.border-black-pearl
                            div.pl-lg-4.py-lg-3.px-md-4.py-md-3.px-4.py-3
                              i.h3.fas.fa-code-branch.text-center.mb-0
                        .col-lg-10.col-md-10.col-8
                          div.pr-lg-5
                            p.text-dim-gray.mb-lg-0 Fusce tincidunt, urna sit amet molestie imperdiet, dui velit vulputate justo, nec blandit risus ipsum a ex. Mauris gravida tempor volutpat accumsan hendrerit.

      //images
      .container-fluid.px-0.about-bg-1.bg-white-smoke
        .py-lg-9.py-md-7.py-6
          .container
            .row.gx-lg-5
              .col-lg-6.home-bg-11.order-lg-1
                .pt-lg-4.pt-md-8.pt-7 
                  .pl-lg-0.pl-md-10.pl-4
                    div.ml-lg-0.ml-md-7.ml-2
                      h2.h1.font-fifty.text-lg-right.mb-3 $443 Billion
                  div.pl-lg-10.pr-lg-0.pl-md-9.pr-md-9.pl-4
                    .ml-lg-10.ml-md-8
                      .pl-2
                        p.lead-1.text-white Creating 97 million tons of steel.
                        p.lead-1.text-white Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore

              .col-lg-6.my-lg-3.mt-md-5.mt-5
                div.pr-lg-6.pr-md-8.pr-4
                  h2.mb-4 Our not-so-secret plan: Create a world without waste
                  p.lead.text-dim-gray.mb-4 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam justo duo dolores et ea rebum.
                  a.btn.btn-black-pearl(href="index.html") Read more

      // team 
      .bg-black-pearl
        .py-lg-9.py-md-8.py-7
          .container.mt-lg-4
            .row.gx-lg-5
              .col-lg-6
                h2.h1.text-white.mb-0.mt-n1 Our team 
                h2.h1.text-white.mt-n1.mb-4 Memebers
                div.pr-lg-10
                  p.text-silver.mr-3 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.
                .row.gx-lg-5.pt-lg-7.pt-md-5.pt-5
                  .col-lg-6.offset-lg-6
                    a(href="page-agents.html")
                      img(src="assets/images/team/teams1.jpg" alt="team image")
                    .bg-white
                      .px-4.py-4
                        div.px-2.py-3
                          a(href="page-agents.html")
                            h5 Daniel Nichol
                          p.text-dim-gray Managing Partner
                          div.pt-1
                            ul.list-unstyled.list-inlinetrue.mb-0
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-facebook
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-twitter
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-youtube
              .col-lg-6
                .row.gx-lg-5
                  .col-lg-6.mt-lg-10.mt-md-5.mt-5
                    a(href="page-agents.html")
                      img(src="assets/images/team/teams2.jpg" alt="team image")
                    .bg-white
                      .px-4.py-4
                        div.px-2.py-3
                          a(href="page-agents.html")
                            h5 Jonathan 
                          p.text-dim-gray Firm Director
                          div.pt-1
                            ul.list-unstyled.list-inlinetrue.mb-0
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-facebook
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-twitter
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-youtube

                    .mt-5
                      a(href="page-agents.html")
                        img(src="assets/images/team/teams4.jpg" alt="team image")
                      .bg-white
                        .px-4.py-4
                          div.px-2.py-3
                            a(href="page-agents.html")
                              h5 Patricia Bogle
                            p.text-dim-gray Chief Operating Officer
                            div.pt-1
                              ul.list-unstyled.list-inlinetrue.mb-0
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-facebook
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-twitter
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-youtube

                  .col-lg-6.mt-lg-0.mt-md-5.mt-5
                    a(href="page-agents.html")
                      img(src="assets/images/team/teams3.jpg" alt="team image")
                    .bg-white
                      .px-4.py-4
                        div.px-2.py-3
                          a(href="page-agents.html")
                            h5 Gerry Heller
                          p.text-dim-gray Managing Director
                          div.pt-1
                            ul.list-unstyled.list-inlinetrue.mb-0
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-facebook
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-twitter
                              li.list-inline-item
                                a(href='#')
                                  i.icon-style.fab.fa-youtube

                    .mt-5
                      a(href="page-agents.html")
                        img(src="assets/images/team/teams5.jpg" alt="team image")
                      .bg-white
                        .px-4.py-4
                          div.px-2.py-3
                            a(href="page-agents.html")
                              h5 Joseph Hyde
                            p.text-dim-gray Tax Partner
                            div.pt-1
                              ul.list-unstyled.list-inlinetrue.mb-0
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-facebook
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-twitter
                                li.list-inline-item
                                  a(href='#')
                                    i.icon-style.fab.fa-youtube

      // Awards section
      .bg-white-smoke
        .py-lg-8.py-lg-8.py-6
          .container
            .row
              .col-lg-5
                h2.h1.mb-4 Awards
                div.pr-4
                  p.text-dim-gray Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.

          .container.pt-lg-6.pt-md-7.pt-6
            .row.gx-lg-5
              .col-lg-2.col-md-4.col-6.text-center
                img(src="assets/images/logo/5.png" alt="logo1")
              .col-lg-2.col-md-4.col-6.text-center
                img(src="assets/images/logo/6.png" alt="logo2")
              .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-0.mt-5
                img(src="assets/images/logo/11.png" alt="logo3")
              .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-5.mt-5
                img(src="assets/images/logo/12.png" alt="logo4")
              .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-5.mt-5
                img(src="assets/images/logo/7.png" alt="logo5")
              .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-5.mt-5
                img(src="assets/images/logo/8.png" alt="logo6")

          .container.mt-lg-8.mt-md-7.mt-6
            .row.gx-lg-5
              .col-lg-2.col-md-4.col-6.text-center
                img(src="assets/images/logo/10.png" alt="logo1")
              .col-lg-2.col-md-4.col-6.text-center
                img(src="assets/images/logo/9.png" alt="logo2")
              .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-0.mt-5
                img(src="assets/images/logo/5.png" alt="logo3")
              .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-5.mt-5
                img(src="assets/images/logo/4.png" alt="logo4")
              .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-5.mt-5
                img(src="assets/images/logo/5.png" alt="logo5")
              .col-lg-2.col-md-4.col-6.text-center.mt-lg-0.mt-md-5.mt-5
                img(src="assets/images/logo/6.png" alt="logo6")