extends includes/layout
include includes/mixin

block content

  article.entry

    .entry-content
      .bg-black-pearl
        .py-4
          .container
            .text-center
              h2.text-white.mx-2 Shop
      
      .container.my-lg-9.my-md-7.my-6
        .row.gx-lg-5
          .col-lg-4
            a(href="single-product.html")
              img(src="assets/images/shop/s1.jpg" alt="Shop-Image")
            a(href="single-product.html")
              h5.mt-3.mb-2 Metalworking CNC Milling
            h5.my-2.text-dim-gray $635.00
            div.pt-4
              a.btn.btn-black-pearl.padding(href="single-product.html") Add to cart
          
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            a(href="single-product.html")
              img(src="assets/images/shop/s2.jpg" alt="Shop-Image")
            a(href="single-product.html")
              h5.mt-3.mb-2 Metalworking CNC
            h5.my-2.text-dim-gray $973.00
            div.pt-4
              a.btn.btn-black-pearl.padding(href="single-product.html") Add to cart
          
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            a(href="single-product.html")
              img(src="assets/images/shop/s3.jpg" alt="Shop-Image")
            a(href="single-product.html")
              h5.mt-3.mb-2 Robotic Arm
            h5.my-2.text-dim-gray $874.00
            div.pt-4
              a.btn.btn-black-pearl.padding(href="single-product.html") Add to cart
        
        .row.gx-lg-5.mt-lg-6.mt-md-5.mt-5
          .col-lg-4
            a(href="single-product.html")
              img(src="assets/images/shop/s4.jpg" alt="Shop-Image")
            a(href="single-product.html")
              h5.mt-3.mb-2 Metalworking CNC Milling
            h5.my-2.text-dim-gray $635.00
            div.pt-4
              a.btn.btn-black-pearl.padding(href="single-product.html") Add to cart
          
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            a(href="single-product.html")
              img(src="assets/images/shop/s5.jpg" alt="Shop-Image")
            a(href="single-product.html")
              h5.mt-3.mb-2 Metalworking CNC
            h5.my-2.text-dim-gray $973.00
            div.pt-4
              a.btn.btn-black-pearl.padding(href="single-product.html") Add to cart
          
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            a(href="single-product.html")
              img(src="assets/images/shop/s6.jpg" alt="Shop-Image")
            a(href="single-product.html")
              h5.mt-3.mb-2 Robotic Arm
            h5.my-2.text-dim-gray $874.00
            div.pt-4
              a.btn.btn-black-pearl.padding(href="single-product.html") Add to cart
        
        .row.gx-lg-5.mt-lg-6.mt-md-5.mt-5
          .col-lg-4
            a(href="single-product.html")
              img(src="assets/images/shop/s7.jpg" alt="Shop-Image")
            a(href="single-product.html")
              h5.mt-3.mb-2 Metalworking CNC Milling
            h5.my-2.text-dim-gray $635.00
            div.pt-4
              a.btn.btn-black-pearl.padding(href="single-product.html") Add to cart
          
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            a(href="single-product.html")  
              img(src="assets/images/shop/s8.jpg" alt="Shop-Image")
            a(href="single-product.html")
              h5.mt-3.mb-2 Metalworking CNC
            h5.my-2.text-dim-gray $973.00
            div.pt-4
              a.btn.btn-black-pearl.padding(href="single-product.html") Add to cart
          
          .col-lg-4.mt-lg-0.mt-md-5.mt-5
            a(href="single-product.html")
              img(src="assets/images/shop/s9.jpg" alt="Shop-Image")
            a(href="single-product.html")
              h5.mt-3.mb-2 Robotic Arm
            h5.my-2.text-dim-gray $874.00
            div.pt-4
              a.btn.btn-black-pearl.padding(href="single-product.html") Add to cart