// Footer
footer.site-footer
  .footer-widgets
    .container
      .row.gx-lg-5
        .col-lg-4.pr-lg-10
          .footer-widget.footer-widget-1
            h1.mb-3.text-white SANAT

    .container 
      .row.gx-lg-6
        .col-lg-5
          form#contact-form.mt-3(method='post' action='assets/php/contact.php')
            .form-group.row.gx-0
              .col-lg-7.col-md-8
                input#form_name.form-control.bg-white.border-0(type='text' name='fname' placeholder='Email', required)
              .col-lg-4.col-md-3
                a.btn.btn-school-yellow.rounded-0.border-0.d-block(href="#") Subscribe
          
        .col-lg-7
          .row.gx-lg-5
            .col-lg-3.col-md-6.col-12.mt-lg-0.mt-md-5.mt-5
              .footer-widget.footer-widget-2
                ul
                  li
                    a(href='page-contact-us.html') About Us
                  li
                    a(href='page-contact-us.html') Location
                  li
                    a(href='page-contact-us.html') Case Studies
                  li
                    a(href='page-contact-us.html') Contact

            .col-lg-3.col-md-6.col-12.mt-lg-0.mt-md-5.mt-0
              .footer-widget.footer-widget-2
                ul
                  li
                    a(href='index.html') Manufacturing 
                  li
                    a(href='blog.html') Certificates
                  li
                    a(href='page-services.html') Platform
                  li
                    a(href='page-about-us.html') Faq's

            .col-lg-3.col-md-6.col-12
              .footer-widget.footer-widget-2
                ul
                  li
                    a(href='index.html') Careers
                  li
                    a(href='blog.html') For Media
                  li
                    a(href='page-services.html') Invester Relation

            .col-lg-3.col-md-6.col-12
              .footer-widget.footer-widget-2
                ul
                  li
                    a(href='index.html') Client Portal 
                  li
                    a(href='blog.html') Legal & Privacy
                  li
                    a(href='page-services.html') Blog

  .footer-bottom-area
    .container
      .row.gx-5.align-items-center
        .col-lg-6.col-md-6
          .footer-widget
            p.m-md-0 © #{new Date().getFullYear()} Energetic Themes • All Rights Reserved
        .col-lg-6.col-md-6
          div.text-right
            ul.list-unstyled.list-inlinetrue
              li.list-inline-item.border-padding.border.border-1.rounded-circle.mr-4
                a(href='#')
                  i.fab.fa-linkedin-in.icon
              li.list-inline-item.border-padding.border.border-1.rounded-circle.mr-4
                a(href='#')
                  i.fab.fa-facebook-square.icon
              li.list-inline-item.border-padding.border.border-1.rounded-circle.mr-4
                a(href='#')
                  i.fab.fa-twitter.icon
              li.list-inline-item.border-padding.border.border-1.rounded-circle.mr-4
                a(href='#')
                  i.fab.fa-instagram.icon

// End Footer